@import '../../partials/global';

.home {
    background-color: rgba(59, 75, 94, 1);
    // background-image: url('../../assets/images/toronto.jpg');
    // background-attachment: fixed;
    // background-position: center;
    // background-size: 100%;
    // width: 100%;
}

.parallax {
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 30vw;

    &1 {
        background-image: url('../../assets/images/toronto_01.jpg');
    }
    &2 {
        background-image: url('../../assets/images/toronto_02.gif');
    }
    &3 {
        background-image: url('../../assets/images/toronto_03.gif');
    }
}
