@import '../../partials/global';

.home {
    background-color: rgba(59, 75, 94, 1);
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vw;

    &1 {
        background-image: url('../../assets/images/images/toronto_01.jpg');
        text-align: center;
        margin: auto;
        vertical-align: middle;
        align-items: center;
    }
    &2 {
        background-image: url('../../assets/images/images/toronto_02.jpg');
        margin-top: 42vw;
    }
    &3 {
        background-image: url('../../assets/images/images/toronto_03.jpg');
    }
    &4 {
        background-image: url('../../assets/images/images/toronto_04.jpg');
    }
    &5 {
        background-image: url('../../assets/images/images/toronto_05.jpg');
    }
}
