@import '../../partials/global';

.comments {
    height: 80vw;
    background-color: rgb(165, 180, 194);

    &__heading {
        // background-image: url('../../assets/images/haku2.gif');
        background-size: 30%;
        background-position: 5% 35%;   
        background-clip: text;
        // color: transparent;
        margin-right: 30vw;
        padding-top: 13vw;
        margin-top: 0;    
    }
    &__flowers {
        width: 35%;
        top: 1;
        margin-top: -43vw;
        position: absolute;
        right: 0;
        transform: scaleX(-1);
        z-index: 998;
    }
    &__wave {
        margin-top: -16vw;
        position: absolute;
        transform: scaleX(-1);
        z-index: 0;
        width: 100%;
        opacity: 0.6;

         &1 {
            transform: rotate(180deg) scaleX(-1);
            margin-top: -16.1vw;
            fill: rgba(231, 242, 252, 1);
         }
         &2 {
            margin-top: 30vw;
            fill: rgba(231, 242, 252, 1);
         }
    }
    &__section {

        &-box {
        background-image: url('../../assets/images/spiritedaway2.gif');
        background-position: 80% 55%;
        opacity: 0.3;
        }
    }

    &box {
        width: 50%;
    }

    &__text {
        color: white;
        text-align: left;
    }

    &__logo {
        width: 1vw;
        filter: grayscale(1) invert(1);
    }
}