@import '../../partials/global';

.aboutme {
    height: 100vw;
    background-color: rgb(182, 204, 226);
    margin: 0;

    &__heading {
        background-image: url('../../assets/images/aot2.gif');
        background-position: 20% 30%;
        background-clip: text;
        color: transparent;
        padding: 18vw 0 0 8vw;
        margin: 0;
        text-align: left;
    }
    &__image {
        position: absolute;

        &1 {
            width: 50vw;
            height: 21vw;
            left: 0;
            top: 1;
            margin-top: 34vw;
        }
        &2 {
            width: 45vw;
            height: 18vw;
            right: 9%;
            top: 1;
            margin-top: 69vw;
        }

    }
    &__section {
        position: absolute;
        display: flex;
    }
    &__text {
        width: 35%;
        font-weight: bold;
        margin-left: 8vw;
        text-align: left;

        &2 {
            margin-top: 45vw;
            width: 37%;
        }
    }
    &--bold {
        font-family:'GraphikMedium';
    }
}

.valorant {
    font-family: 'Valorant';
}

.lostark {
    width: 9vw;
    position: relative;
    top: 0.75vw;
}

