@import '../../partials/global';

.aboutme {
    height: 100vw;
    // background-color: rgb(182, 204, 226,1);
    background-color: rgba(231, 242, 252, 0.8);
    margin: 0;

    &__flowers {
        width: 35%;
        top: 1;
        margin-top: 83.45vw;
        position: absolute;
        right: 0;
        transform: scaleX(-1);
    }

    &__heading {
        background-image: url('../../assets/images/aot2.gif');
        background-position: 20% 30%;
        background-clip: text;
        color: transparent;
        padding: 18vw 0 0 8vw;
        margin: 0;
        text-align: left;
    }
    &__image {
        position: absolute;

        &1 {
            width: 50vw;
            height: 21vw;
            left: 0;
            top: 1;
            margin-top: 34vw;
        }
        &2 {
            width: 45vw;
            height: 18vw;
            right: 9%;
            top: 1;
            margin-top: 73.75vw;
        }

    }
    &__section {
        position: absolute;
        display: flex;
    }
    &__text {
        width: 35%;
        margin-left: 8vw;
        text-align: left;
        font-weight: bolder;

        &2 {
            margin-top: 45vw;
            width: 37.5%;
            font-weight: bold;
        }
    }
    &--bold {
        font-family:'GraphikMedium';
    }
}

.valorant {
    font-family: 'Valorant';

    &:hover {
        color: $fadedorange;
    }
}

.league {
    color: black;

    &:hover {
        color: $fadedorange;
    }
}

.outline {
    font-family: 'College Halo';
    font-size: 6.5vw;
    font-weight: normal;
}

