@import '../../partials/global';

.projectqueue {
    display: flex;
    justify-content: center;
    margin-top: -1vw;
    flex-wrap: wrap;
    height: 41vw;
    overflow: hidden;
    overflow-y: scroll;
    width: 20%;
    border-left: 0.1vw solid white;

    &::-webkit-scrollbar {
        display: none;
    }

    &__polaroid {
        width: 15vw;
        height: 13vw;
        position: relative;
        z-index: 998;
        padding-bottom: 0.7vw;
    }

    &__container {
        &:hover {
            cursor: pointer;
            filter: brightness(70%);
        }
    }

    &__content {
        position: relative;

        &-thumbnail {
            width: 14vw;
            height: 9vw;
            position: absolute;
            top: 1;
            margin-top: -12.75vw;
            right: 0.5vw;
            z-index: 996;
            
        }

        &-name {
            position: absolute;
            top:1;
            margin-top: -3.5vw;
            z-index: 998;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto; 
            font-family: 'Kintanya';
            font-size: 1.5vw;
        }
    }
}