@import '../../partials/global';

.welcome {
    height: 50vw;
    color: white;
    background-color: rgb(66, 87, 107);
    margin: 0;

    &__image {
        width: 35%;
        margin-top: 33.45vw;
    }

    &__section {
        display: flex;
        width: 100%;

        &-text {
            display: flex;
            flex-wrap: wrap;
            width: 30%;
            text-align: left;
            position: relative;
            top: 16vw;
            left: 27%;
            z-index: 0;
            color: white;
        }
    }

    &__title {
        background-image: url('../../assets/images/flower3.gif');
        background-position: 10% 70%;
        background-clip: text;
        color: transparent;
        margin: 0;
    }
    &__maintext {
        margin-top: -29vw;

        &-first {
            color: rgb(206, 114, 78);
            font-weight: bold;
        }
        &-second {
            color: $greenblue;
            font-weight: bold;
        }
    }
}