@import '../../partials/global';

.welcome {
    height: 45vw;
    color: white;
    background-color: rgba(59, 75, 94, 1);
    margin: 0;

    &__image {
        width: 35%;
        margin-top: 56.5vw;
        z-index: 998;
    }

    &__section {
        display: flex;
        width: 100%;

        &-text {
            display: flex;
            flex-wrap: wrap;
            width: 30%;
            text-align: left;
            position: relative;
            top: 13vw;
            left: 27%;
            z-index: 997;
            color: white;
        }
    }

    &__title {
        background-image: url('../../assets/images/flower3.gif');
        background-position: 0% 100%;
        background-clip: text;
        color: transparent;
        margin: 0;
        visibility: hidden;
    }
    &__maintext {
        margin-top: -41.5vw;

        &-first {
            color: $fadedorange;
            font-weight: bold;
        }
        &-second {
            color: $greenblue;
            font-weight: bold;

            &:hover {
                cursor: pointer;
                color: black;
            }
        }
    }
    &__wave {
        margin-top: -16vw;
        position: absolute;
        transform: scaleX(-1);
        z-index: 0;
        width: 100%;
        opacity: 0.6;

         &1 {
            transform: rotate(180deg) scaleX(-1);
            margin-top: -62.25vw;
            fill: rgba(231, 242, 252, 1);
         }
         &2 {
            margin-top: -16.2vw;
            fill: rgba(59, 75, 94, 1);
         }
    }
}

.new {
    font-size: 9vw;
    position: absolute;
    font-family: 'Sketch';
    background-image: url('../../assets/images/niagara.jpg');
    background-position: -80% -700%;
    background-size: 80%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-clip: text;
    color: transparent;
    left: 5vw;
    top:1;
    margin-top: 13vw;
    left: 20vw;
    filter: saturate(30%);

    &2 {
        margin-top: 22vw;
        font-size: 8vw;
        left: 23vw;
    }
}

.big {
    font-size: 35vw;
    position: absolute;
    margin-top: 12vw;

    &1 {
        font-family: 'Sketch';
        background-image: url('../../assets/images/vietnam2.jpg');
        background-size: 70% 100%;
        background-position: -75% 245%;
        background-attachment: fixed;
        background-clip: text;
        color: transparent;
        top:1;
        left: 3vw;
        margin-top: 0vw;
        filter: saturate(50%);
        background-image: url('../../assets/images/vietnam.jpg');
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: -25% 70%;
    }
}
