@import '../../partials/global';

.contact {
    height: 100vw;
    background-color: lightgrey;

    &__heading {
        background-image: url('../../assets/images/sora.gif');
        background-size: 40%;
        background-position: 52% 40%;
        background-clip: text;
        color: transparent;
        margin: 0;
    }
}