@import '../../partials/global';

.projects {
    height: 70vw;
    background-color: #61809e;

    &__heading {
        background-image: url('../../assets/images/appa2a.gif');
        background-size: 43%;
        background-position: 37.75% 65%;
        background-clip: text;
        color: transparent;
        padding: 15vw 0;
        margin: 0;
    }

    &__flowers {
        width: 35%;
        top: 1;
        margin-top: 17.85vw;
        position: absolute;
        left: 0;
    }
}