@import '../../partials/global';

.projects {
    height: 75vw;
    background-color: rgb(208, 212, 212);
    padding-bottom: 5vw;
    
    &__section {
    
        &-box {
        background-image: url('../../assets/images/sorafull.gif');
        background-position: 80% 55%;
        opacity: 0.4;
        }
    }

    &__heading {
        // background-image: url('../../assets/images/appa2a.gif');
        background-size: 43%;
        background-position: 37.75% 60%;
        background-clip: text;
        // color: transparent;
        padding-top: 13vw;
        margin: 0;
    }

    &__flowers {
        width: 35%;
        top: 1;
        margin-top: 55vw;
        position: absolute;
        left: 0;
        z-index: 998;  
    }
    &__display {
        display: flex;
        margin-top: 5vw;
        justify-content: center;
        width: 100%;
        // padding: 5vw 0;

        &--main {
            width: 60%;
            position: relative;

            &-polaroid {
                width: 45vw;
                position: relative;
                z-index: 998;
            }
        }
        &-hero {
            top: 1;
            margin-top: -1.7vw;
            height: 25.75vw;
            width: 41.25vw;
            left: 0;
            z-index: 996;
        }
        &-name {
            position: relative;
            margin-top: -35.5vw;
            z-index: 998;
            font-size: 2vw;
            font-family: 'Kintanya';
        }
        &-description {
            position: absolute;
            display: flex;
            z-index: 998;
            font-size: 0.9vw;
            width: 55%;
            top: 1;
            margin-top: 2vw;
            right: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            font-family: 'Graphik';
            font-weight: bold;
            align-items: center;
            height: 5.5vw;
        }
    }
    &__paper {
        position: absolute;
        top: 1;
        margin-top: 27vw;
        width: 45vw;
        height: 13vw;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: 998;
    }
    &__postit {
        position: absolute;
        width: 15vw;
        left: 0;
        margin-left: -4vw; 
        filter: saturate(50%);
        top: 1;
        margin-top: 12vw;
        transform: rotate(345deg);
        z-index: 998;

        &-title {
            position: absolute;
            font-family: 'Kintanya';
            font-weight: bold;
            font-size: 1.3vw;
            top: 1;
            margin-top: -21.5vw;
            transform: rotate(345deg);
            z-index: 998;
            left: -2vw;
            text-decoration: $orangered underline;
        }
    }
}