@import '../../partials/global';

.navbar {
    width: 100%;
    height: 50px;
    background-color: $menublue;
    display: none;
    animation: reverse 5s;

    &__list {
        display: flex;
        justify-content: space-evenly;
        padding: 16px 0px;
        color: white;
        list-style-type: none;
        margin: 0;

        &-item {
            
        }
    }
}