@font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/GraphikRegular.otf') format('OpenType');
}
@font-face {
    font-family: 'GraphikMedium';
    src: url('../assets/fonts/GraphikMedium.otf') format('OpenType');
}
@font-face {
    font-family: 'GraphikBold';
    src: url('../assets/fonts/GraphikBold.otf') format('OpenType');
}