@import './fonts';
@import './mixins';
@import './variables';

body {
    font-family: 'Graphik';
    // font-weight: bold;
}

a {
    font-size: 1.4vw;
}

h1 {
    font-size: 6vw;
}

h2 {
    font-size: 5vw;
}

p {
    font-size: 1.4vw;
}

.rainbow {
    background-image: linear-gradient(to left, rgb(241, 189, 241), rgb(182, 116, 230), rgb(138, 162, 238), rgb(157, 218, 157), rgb(243, 226, 128), rgb(241, 182, 70), rgb(247, 115, 115));
    background-clip: text;
    color: transparent;
}

// .highlight {
//     color: $headergreen;
// }

.red {
    color: $orangered;
}
.green {
    color: $greenblue;
}
.highlight {
    color: $headergreen;
}
.bold {
    font-weight: bold;
    font-family:'GraphikMedium';
}
.flowers {
    opacity: 0.9;
    z-index: 999;
}