@import './fonts';
@import './mixins';
@import './variables';

body {
    font-family: 'Graphik';
    // font-weight: bold;
}

a {
    font-size: 1.4vw;
}

h1 {
    font-size: 6vw;
}

h2 {
    font-size: 5vw;
}

p {
    font-size: 1.4vw;
}

.rainbow {
    background-image: linear-gradient(to left, violet, indigo, blue, green, rgb(180, 180, 21), orange, red);
    background-clip: text;
    color: transparent;
}

// .highlight {
//     color: $headergreen;
// }

.red {
    color: $orangered;
}
.green {
    color: $greenblue;
}
.highlight {
    color: $headergreen;
}