$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

$menublue: #282a61;
$headergreen: #f1f7f3;
$orangered: #C65339;
$greenblue: #88b0c7;
$fadedorange:rgb(167, 123, 105);